.footer {
    height: 300px;
    background-color : rgb(57, 109, 168);
    text-align: right;
    bottom: 0;
    margin-top: 50px;
    font-family: Tanha;
    color: rgba(204, 197, 189, 0.863);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-section {
    width: 80%;

}
