.navbar {
    height: 50px;
    position: relative;
    background-color: rgb(35, 83, 187);
    font-family: Tanha;
}
.menu {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    position: absolute;
    color: rgba(230, 230, 230, 0.829);
}
.search {
    position: absolute;
    left: 0;
    width : 300px;
    height: 100%;
}
.menu-item {
    height: 100%;
    width: 120px;
    transition: 0.3s;
}
.center {
    display: flex;
    align-items:center ;
    justify-content: center;
}
.menu-item:hover {
    background-color: rgb(165, 179, 238);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.search-input {
 width: 200px;
 height: 70%;
color: rgb(20, 20, 20);
 border:1px solid whitesmoke;
 border-radius: 3px;  
 padding: 5px; 
}