* {
    padding: 0;
    margin: 0;
}
.margin-top {
    margin-top: 20px;
}
.text-red {
    color: rgb(252, 50,50);
}
.bold {
    font-weight: bold;
}
.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
 .custom-font-size {
    font-size: 50px;
    color:rgb(50,50,50);
}
.items {
    border: 2px solid rgb(57, 109, 168) ;
    width:400px ;
    height: 290px;
    color: rgb(50,50,50);
    position: relative;
    padding: 20px;
    font-family: Tanha;
    text-align: right;
    
}
.border-radius {
    border-radius: 3px;
}
.header-post {
    color: rgb(57, 109, 168);
    font-weight: bold;
};

