*{
  margin: 0;
  padding: 0;
}
body {
  direction: rtl;
  font-family: Tanha;
  background-color:#e2dbe2;
}
@font-face {
font-family: Tanha;
  src: url('css/font/tanha-font-v0.9/Tanha.eot');
  src: url('css/font/tanha-font-v0.9/Tanha.eot?#iefix') format('Tanha-opentype'),
       url('css/font/tanha-font-v0.9/Tanha.woff') format('woff'),
       url('css/font/tanha-font-v0.9/Tanha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
